.innovative
{
    display: flex;
    
    padding: 20px 50px;
}
.text
{
    flex: 6;
    padding-top: 250px;
}
.learn
{
    width: 25%;
    border-radius: 15px;
    padding: 1%;
    background-color:rgba(0, 127, 244, 1);
    text-align: center;
}
.iItem
{
    flex: 6;
    display: flex;
    

}
.iRight
{
    flex: 3;
}
.iTop
{
    height: 170px;
    width: 250px;
    box-shadow: 0px 10px 50px 25px rgba(0, 59, 121, 0.0725798);
    margin-top: -110px;
    border-radius: 10px;
}
.iBottom
{
    height: 170px;
    width: 250px;
    box-shadow: 0px 10px 50px 25px rgba(0, 59, 121, 0.0725798);
    margin-top: -150px;
    border-radius: 10px;
}
.iLeft
{
    flex: 3;
    margin-top: 170px;
}
.box
{
    height: 170px;
    box-shadow: 0px 10px 50px 25px rgba(0, 59, 121, 0.0725798);
    margin-top: -110px;
    border-radius: 10px;
    width: 250px;
}