.nav
{
    display: flex;
    background-color: rgba(248, 253, 255, 1);
    padding: 20px 50px;
}
.left
{
    flex: 5;
}
.right
{
    display: flex;
    flex: 7;
    justify-content: space-around;
}
.hItem
{
    color: #0073FF;
}